<!-- IMAGE LEFT SIDE -->
<div class="container-fluid">
  <div class="row">
    <div class="col p-0">
      <img
        class="w-100 vh-100 object-fit-cover"
        src="https://picsum.photos/id/237/200/300"
        alt="login image"
      />
    </div>
    <!-- LOGIN FORM RIGHT SIDE-->
    <div class="col">
      <div
        class="div vh-100 d-flex flex-column justify-content-center align-items-center"
      >
        <div class="row">
          <input
            class="form-control m-2"
            type="email"
            name="emailFormControl"
            placeholder="Email"
          />
        </div>
        <div class="row">
          <input
            class="form-control m-2"
            type="password"
            name="emailFormControl"
            placeholder="Password"
          />
        </div>

        <input class="btn btn-primary m-2" type="submit" />
      </div>
    </div>
  </div>
</div>
